@using WebClient.BestilNemtServiceRef
@model Product
    
@{
    ViewBag.Title = "AddtoCart";
}

<h2>AddtoCart</h2>

<h2>@Model.Name</h2>

@*@foreach (var product in Model)
{
    <tr>
       
        <td>@product.Name</td>
      
    </tr>
}*@

