
@{
    ViewBag.Title = "CheckOut";
}

<h2>CheckOut</h2>
<script>
    // This script validate the form to checkout
    function validateForm() {
        var cardNumber = document.forms["PaymentForm"]["cardNumber"].value;
        var exDate = document.forms["PaymentForm"]["exspiringdate"].value;
        var controlNumbers = document.forms["PaymentForm"]["Controlnumbers"].value;
        if (cardNumber === "" || cardNumber.length !== 16) {
            alert("Kortnummer skal være udfyldt og være 16 cifre");
            return false;
        }
        if (exDate === "" || exDate.length !== 5) {
            alert("Udløbsdato skal være udfyldt og være 4 cifre med en bindestreg");
            return false;
        }
        if (controlNumbers === "" || controlNumbers.length !== 3) {
            alert("Kontrolnummer skal være udfyldt og være 3 cifre");
            return false;
        } else {
            alert("Betaling gennemført");
            return true;
        }
    }
</script>

@*The form to Checkout*@
<form name="PaymentForm" class="Payment" onsubmit="return validateForm()" method="post">
    Kortnummer:<br>
    <input type="text" name="cardNumber" maxlength="16"> <br>
    Udløbsnings dato:<br>
    <input type="text" name="exspiringdate" maxlength="5"> <br>
    Kontrol cifre:<br>
    <input type="text" name="Controlnumbers" maxlength="3"> <br>
</form>

@*The button to Checkout*@
@using (Html.BeginForm("CompleteCart", "Cart", FormMethod.Post))
{
    <button input type="submit" class="Payment" onclick="return validateForm()">Check ud</button>
}


