@using WebClient.BestilNemtServiceRef
@model IEnumerable<Shop>

@{
    ViewBag.Title = "Butikker";
}

<h2>Vælg en butik</h2>
@foreach (var item in Model)
{
    var butName = item.Name + " - " + item.Address + " - ";
    <button name=@butName value="@item.Id" class="ShopListButton" style="width: 100%; height: 20px" onclick="location.href = '@Url.Action("Product", "Product", new {id = item.Id})'">
        @butName
    </button>
}