@using WebClient.BestilNemtServiceRef
@model List<Product>
@{
    ViewBag.Title = "Product";
}
<script>
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("productTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

<h2>Alle produkter</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<table class="ProductTable">
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Pris</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td><a href="/Product/ProductPage/@product.Id">@product.Name</a></td>
            <td>@product.Description</td>
            <td>@product.Price kr</td>
        </tr>
    }
</table>






