@using WebClient.BestilNemtServiceRef
@model List<Product>
@{
    ViewBag.Title = "Product";
}
<table>
    <tr>
        <th>Navn</th>
        <th>Beskrivelse</th>
        <th>Pris</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price</td>
        </tr>

    }
</table>


<h2>Product</h2>

