<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBestilNemtService" />
        <binding name="BasicHttpBinding_IBestilNemtService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_AddWarehouseresses/WcfService/BestilNemtService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBestilNemtService"
        contract="BestilNemtServiceRef.IBestilNemtService" name="BasicHttpBinding_IBestilNemtService" />
      <endpoint address="http://localhost:8733/Design_Time_AddWarehouseresses/WcfService/BestilNemtService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBestilNemtService1"
        contract="BestilNemtServiceRef.IBestilNemtService" name="BasicHttpBinding_IBestilNemtService1" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="ApplicationDbContext" connectionString="Data Source=kraka.ucn.dk; Database=dmab0915_2Sem_1; User Id=dmab0915_2Sem_1; Password=IsAllowed;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
