body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.button {
    background-color: #ffffff; /* White */
    border: none;
    color: white;
    padding: 0 0;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.frontPage {
    text-align: center;
}

#wrap {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#left_col {
    float: left;
    width: 50%;
}

#right_col {
    float: right;
    width: 50%;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
}


table {
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
}

th, td {
    border: 1px solid;
}

#descriptionBox {
    border: 3px solid mediumspringgreen;
}

#BuyModul {
    padding: 10px;
	text-align: right;
    background: #4caf50;
    background: rgba(76, 175, 80, 0.3);
    border-radius: 10px;
}
