@using WebClient.BestilNemtServiceRef
@model List<Chain>

@{
    ViewBag.Title = "FrontPage";
}

<h2>Bestil nemt</h2>

<h2>Kæder</h2>
@foreach (var item in Model)
{
    <button name=@item.Name value="@item.Id" class="button" style="width: 200px;" onclick="location.href='@Url.Action("ShopList", "Shop", new { id = item.Id })'"
            ">
        <img src="http://www.klapjob.dk/media/1158/foetexlille.jpg" alt="@item.Name" height="200" width="200">
    </button>
}