@using WebClient.BestilNemtServiceRef
@model List<Chain>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var item in Model)
{
    using (Html.BeginForm(new {action="ShopList", controller=$"Shop", id=item.Id}))
    {
        <button name=@item.Name value="@item.Id" class="button" style="width: 200px;">
            <img src="http://www.klapjob.dk/media/1158/foetexlille.jpg" alt="@item.Name" height="200" width="200">
        </button>
    }
}

@using (Html.BeginForm($"ShopList", $"Shop"))
{
    <button name="foetex" value="ActionOne" class="button" style="width: 200px;">
        <img src="http://www.klapjob.dk/media/1158/foetexlille.jpg" alt="Føtex" height="200" width="200">
    </button>
}